.ImagesBlock{
width: 100%;
    margin:40px 0 0 0;
    overflow: hidden;
    /* border:2px solid black; */
    background:rgba(255, 255, 255, 0.7);
    padding: 40px;
}
/* .ImagesBlockLine{
    width: 100%;
    height: 1px;
    box-shadow: 0 2px 3px #be9090;
} */
.ImagesBlockPicture{
    margin-top: 20px;
    overflow: hidden;
}

.ImagesBlock img{
width:500px;
height: auto;
/* margin-bottom: 40px; */
transition:0.5s;
transition-timing-function: liner;
}
.ImagesBlock .ImagesBlockPicture img:hover{
    transform: scale(1.5);
    }

    .ImagesBlockBtnSwipe {
        margin-top:-100px;
        opacity: 0;
        width: 100%;
            transition:  margin 0.5s,opacity 0.2s;

        transition-timing-function: liner;
        }
        
        .ImagesBlockBtnSwipe button{
        width: 40%;
        margin:0 5px 50px 0;
            }
.ImagesBlock:hover .ImagesBlockBtnSwipe{
    opacity: 1;
    margin-top:0;
}
.ImagesBlockText{
    margin:40px 0 40px 0;
    padding: 0 20% 0 20%;
}

.ImagesBlock p{
    font-size: 70%;
    left: 0;
    text-align: left;
    }
    .Close{
 
        animation: preViewImg 0.5s;
        animation-fill-mode: forwards;
       
    }
    .TextArea{
        max-width: 1600px;
        font-size: 100%!important;
        padding: 0 10% 0 10%;
        text-indent: 50px;
  text-align: justify;
  letter-spacing: 2px;
    }


    .ParalaxBlockPicture {
        width: 100%!important;
        height:auto!important;
        
    }
    
.ParalaxBlockPicture img{
    width: 100%!important;
    height:auto!important;
    overflow: hidden;
}
.ImagesBlockOpenPageBlock{
    width: 100%;
    height: 1200px;

    margin-bottom: 40px;
    background: url("../../assets//images/bottle.svg") no-repeat   left;
    }
    .ImagesBlockOpenPageBlock2{
        width: 100%;
        
    
        margin-bottom: 40px;
        background: url("../../assets//images/scientist.png") no-repeat   left;
        
        }
    .TextAreaOpenPage {
        position: relative;
        width: 100%;
        height: 100%;
        right: 0!important;
        font-size: 1vw!important;
        text-indent: 50px;
        padding: 10% 10% 10% 50%;
        text-align: right!important;
    }
    .PopularBlock{
        float: left;
        margin: 0 0 0 0px;
        width: 33%;
        height: 300px;
        text-align: center;
        align-content: center;
        background: url("../../assets//images/fit.svg") no-repeat center center;
    }
/* .b1{
        border: 2px solid black;
    } */
    .TextAreaTitle{
        position: relative;
top:-20px;
    }
    .TextAreaTitelComent{
        margin-top: 100px;
    }


    .ImagesBlockTableImg{
        background-size: 300px 300px ;
        background: url("../../assets//images/bottle.svg") no-repeat center center;
height: 300px;
    }
    .ImagesBlockTableCellGreen{
                background-color: rgb(137, 230, 137);

    }



    .canvas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1800px;
      }
      .chart{
        width:500px; 
        height:500px;
        border: 2px solid black;
      }
      .unit {
        fill: none;
        stroke-width: 10;
        animation: render 1s;
        transition: 1s;
        cursor: pointer;
      }
      
      .unit:hover {
        opacity: 0.8;
        stroke-width: 12;
      }
      
      .unit:nth-child(1) {
        stroke: #86cfa3;
        stroke-dasharray: 8 100;
      }
      
      .unit:nth-child(2) {
        stroke: #a2c6e0;
        stroke-dasharray: 11 100;
        stroke-dashoffset: -8;
      }
      
      .unit:nth-child(3) {
        stroke: #ffc7ec;
        stroke-dasharray: 11 100;
        stroke-dashoffset: -19;
      }
      
      .unit:nth-child(4) {
        stroke: #f8faa0;
        stroke-dasharray: 14 100;
        stroke-dashoffset: -30;
      }
      
      .unit:nth-child(5) {
        stroke: #adffd8;
        stroke-dasharray: 11 100;
        stroke-dashoffset: -44;
      }
      
      .unit:nth-child(6) {
        stroke: #f2c48f;
        stroke-dasharray: 5 100;
        stroke-dashoffset: -55;
      }
      
      .unit:nth-child(7) {
        stroke: #e3bfe2;
        stroke-dasharray: 40 100;
        stroke-dashoffset: -60;
      }
      
      .legend {
        max-width: 250px;
        margin-left: 30px;
      }
      
      .title {
        font-family: "Verdana", sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #591d48;
      }
      
      .captionlist {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .captionitem {
        position: relative;
        margin: 20px 0;
        padding-left: 30px;
        font-family: "Verdana", sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #591d48;
        cursor: pointer;
      }
      
      .captionitem:hover {
        opacity: 0.8;
      }
      
      .caption-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 8px;
      }
      
      .captionitem:nth-child(1)::before {
        background-color: #86cfa3;
      }
      
      .captionitem:nth-child(2)::before {
        background-color: #a2c6e0;
      }
      
      .captionitem:nth-child(3)::before {
        background-color: #ffc7ec;
      }
      
      .captionitem:nth-child(4)::before {
        background-color: #f8faa0;
      }
      
      .captionitem:nth-child(5)::before {
        background-color: #adffd8;
      }
      
      .captionitem:nth-child(6)::before {
        background-color: #f2c48f;
      }
      
      .captionitem:nth-child(7)::before {
        background-color: #e3bfe2;
      }
      
      @keyframes render {
        0% {
          stroke-dasharray: 0 100;
        }
      }
      
      .hovered {
        opacity: 0.8;
        stroke-width: 12;
      }
      
@media(max-width:700px){
    .ImagesBlock {
        width:100%;
        margin: 40px 0;
        height: auto;
        }
}
@media only screen and (max-width: 1200px) {
    .TextAreaOpenPage {
        position: flex;
        width: 100%;
        height: 100%;
        
        font-size: 30px!important;
        text-indent: 50px;
        padding:100px 0 50px 0;
        text-align: center!important;
    }
}

@media only screen and (max-width: 600px) {
  
    .ImagesBlockOpenPageBlock{
        width: 100%;
        min-height: 600px;
        margin-bottom: 40px;
        
        background: none;
    }
        .ImagesBlockOpenPageBlock2{
            width: 100%;
            height: 600px;
        
            margin-bottom: 40px;
            background: none;
            
            }
        .TextAreaOpenPage {
            position: flex;
            width: 100%;
            height: 100%;
            
            font-size: 20px!important;
            text-indent: 50px;
            padding:100px 0 50px 0;
            text-align: center!important;
        }
  }


@keyframes preViewImg {
    0% {opacity: 1;}
    50%{opacity: 1;
        margin-left: -400%;}
    100% {
        margin-top: -460px;
        margin-left: -400%;}
  }