.NavigationItem{
    margin:10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.NavigationItem a{
    color:gray;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
color:black;
text-decoration: none;
}

@media(min-width:500px){
    .NavigationItem{
        margin: 0;
        display: flex;
        height: 100%;
         width: auto; 
        align-items: center;
    }
    .NavigationItem a{
        color:gray;
        height: 100%;
        padding: 16px 10px;
        border-bottom:  4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
  
    border-bottom: 1px solid #40A4C8;

    color:black
    }
}