.Main{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: auto;
    margin-top: 5em;
    width: 100%;
    text-align: center;
    margin-bottom: 300px;
    /* background: lightblue url("../../assets//images//modern-architecture-skylight-looking-up-at-sky-glass-7254x4841-2591.jpg") no-repeat fixed center;
    background-size: 100% 100%; */
}


.MainContentPicture{
    transition:0.5s;
    transition-timing-function: liner;
}
.MainContentPicture:hover{
    transform: scale(1.5);
}
.ComentBtn{
    position: absolute;
    bottom: 0;
}

.ImagesBlockOpenPageBlock{
    width: 100%;
    height: 1000px;
    border:2px solid black;
    }